#welcome h4{
        color: #c7081b;
        font-family: 'Open Sans', sans-serif, Arial;
        margin-bottom: 23px;
}

#welcome h4 strong{
    font-weight: 900;
}

.alternate-font {
    font-size: 1.5em;
    font-family: 'Yellowtail', cursive;
    color: #c7081b;
}
