.banner-car{
    display: block;
    position: relative;
    z-index: 20;
    margin-top: -100px;
}

.carousel-caption h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 700;
    display: block;
    text-shadow: 2px 2px#2b2d42;
    text-transform: uppercase;
}

.carousel-caption p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 400;
    display: block;
    text-shadow: 2px 2px #2b2d42;
}